


/* * * * * * * * * * * * * * * * * *
* Genreric Active Control Tamplates *
* * * * * * * * * * * * * * * * * */


/*/  Button Style Outside Dialog  /*/
/*/////////////////////////////////*/
button {
  background-color: var(--default-back-color);
  color: var(--default-fore-color);
  padding: 0.2em;
  border: none;
  border-radius: 5px;
  user-select: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
}

button:focus {
  outline: var(--default-foc-b-color) solid 1px;
}

button:hover {
  outline: var(--default-hover-color) solid 2px;
  color: var(--default-hover-color);
}

button:active {
  outline: var(--default-active-color) solid 3px;
  color: var(--default-active-color);
}

button[disabled],
button:disabled {
  color: var(--default-dis-f-color);
  outline: none;
}


/*/  Dialog Boxes  /*/
/*//////////////////*/
dialog {
  padding: 1em 1.75em;
  background-color: var(--dialog-back-color);
  color: var(--dialog-fore-color);
  border: 2px solid var(--dialog-fore-color);
  border-radius: 10px;
}


/*/  Dialog Headers  /*/
/*////////////////////*/
dialog h2 {
  margin: 0;
  min-width: max-content;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
  color: var(--dialog-head-color);
  user-select: none;
}

dialog > h2 {
  margin-bottom: 1em;
}

.tool-description-container > h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  color: var(--dialog-head-color);
  user-select: none;
  padding: 0;
  margin: 0 0 0.5em 0;
}


/*/  Button Style Changes In Dialogs  /*/
/*/////////////////////////////////////*/
dialog button,
.ui-controls-modder-prefix button {
  background-color: var(--dia-ctrl-back-color);
  color: inherit;
}

.ui-controls-modder-prefix button:focus {
  outline: none;
}

.ui-controls-modder-prefix button:hover {
  outline: var(--default-hover-color) solid 2px;
  color: var(--default-hover-color);
}

.ui-controls-modder-prefix button:active {
  outline: var(--default-active-color) solid 3px;
  color: var(--default-active-color);
}

dialog button[disabled],
dialog button:disabled,
.ui-controls-modder-prefix button[disabled],
.ui-controls-modder-prefix button:disabled {
  color: var(--dia-ctrl-dis-f-color);
}

#ui-top-container #ui-top-button-menu {
  padding: 0.3em;
}


/*/  Label Style In Dialogs  /*/
/*////////////////////////////*/
dialog label,
.ui-controls-modder-prefix h1,
.ui-controls-modder-prefix label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.25em;
  user-select: none;
}

dialog label.input-text {
  display: inline-block;
  margin-bottom: 0.15em;
}


/*/  Custom Radio Buttons  /*/
/*//////////////////////////*/
.dialog-radio-container,
.speed-radio-custom-ctn {
  position: relative;
}

.dialog-radio-container + .dialog-radio-container {
  margin-top: 1em;
}

dialog label.input-radio,
.ui-controls-modder-prefix h1,
.ui-controls-modder-prefix label,
.ui-controls-modder-prefix label.input-radio {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--dia-ctrl-back-color);
  color: inherit;
  padding: 0.2em;
  border: none;
  border-radius: 5px;
}

.ui-controls-modder-prefix h1,
.ui-controls-modder-prefix label {
  padding: 0.5em 3em;
  min-width: max-content;
}
.ui-controls-modder-prefix label.input-radio {
  padding: 0.3em;
}

input[type="radio"] {
  display: inline-block;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

input[type="radio"]:focus + label {
  outline: var(--default-foc-b-color) solid 1px;
}

input[type="radio"]:hover + label {
  outline: var(--default-hover-color) solid 2px;
  color: var(--default-hover-color);
}

input[type="radio"]:active + label {
  outline: var(--default-active-color) solid 3px;
  color: var(--default-active-color);
}

input[type="radio"]:checked + label {
  background-color: var(--dia-ctrl-chck-bg-color);
  color: var(--default-checked-color);
}

input[type="radio"]:disabled + label {
  color: var(--dia-ctrl-dis-f-color);
  outline: none;
  letter-spacing: 0.5em;
}

.ui-controls-modder-prefix input[type="radio"]:focus + label {
  outline: none;
}

.ui-controls-modder-prefix input[type="radio"]:checked + label {
  background-color: var(--speed-chck-bg-color);
  color: var(--speed-checked-color);
}


/*/  Custom Toolbox-Toggler Buttons  /*/
/*////////////////////////////////////*/
button.toolbox-toggler {
  color: var(--speed-checked-color);
  background-color: var(--speed-chck-bg-color);
}
button.toolbox-toggler:hover {
  color: var(--speed-checked-color);
  outline: var(--speed-checked-color) solid 2px;
}
button.toolbox-toggler:disabled {
  color: var(--dia-ctrl-dis-f-color);
  background-color: var(--dia-ctrl-back-color);
  outline: var(--dia-ctrl-dis-f-color) solid 2px;
}

button.toolbox-toggler.toggled {
  outline: var(--speed-checked-color) solid 2px;
}
button.toolbox-toggler.toggled:hover {
  background-color: var(--tool-tgld-bg-color);
}
button.toolbox-toggler.toggled:disabled {
  color: var(--dia-ctrl-dis-f-color);
  background-color: var(--dia-ctrl-back-color);
  outline: var(--dia-ctrl-dis-f-color) solid 2px;
}

button.toolbox-toggler.tool-toggler-up {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

button.toolbox-toggler.tool-toggler-up.toggled {
  border-radius: 5px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

button.toolbox-toggler.tool-toggler-down {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

button.toolbox-toggler.tool-toggler-down.toggled {
  border-radius: 5px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

button.toolbox-toggler.tool-toggler-right {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

button.toolbox-toggler.tool-toggler-right.toggled {
  border-radius: 5px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

button.toolbox-toggler.tool-toggler-left {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

button.toolbox-toggler.tool-toggler-left.toggled {
  border-radius: 5px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}


/*/  Text Input Style In Dialogs  /*/
/*/////////////////////////////////*/
dialog input[type="text"] {
  outline: none;
  border: none;
  box-sizing: border-box;
  background-color: var(--dia-ctrl-back-color);
  color: inherit;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
  padding: 0.2em;
}

dialog input[type="text"]:focus {
  outline: var(--dialog-fore-color) solid 1px;
}


/**  Make a DIV's contents (here: Label & TextInput pairs) centered.  **/
.content-centered {
  text-align: center;
}

.content-centered input[type="text"] {
  text-align: inherit;
}


/**  Make a nice row of the few usual Dialog Buttons, and add margins.  **/
.content-button-row {
  display: flex;
}

.content-button-row > button {
  margin: 0 0.5em;
}


/**  Container Formatting  **/
.toolbox-root-container {
  background-color: var(--dia-ctrl-back-color);
  color: inherit;
  border-radius: 5px;
  padding: 0.5em 1em;
  min-width: max-content;
}

.toolbox-root-container span {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25em;
  user-select: none;
}

.common-menu-container {
  overflow: hidden;
  background-color: transparent;
  min-height: 0;
}

.planning-menu-item-container {
  position: relative;
  box-sizing: border-box;
  padding: 0.75em 1em 0.75em 0.5em;
}

.stats-menu-item-container {
  position: relative;
  box-sizing: border-box;
  padding: 0.75em 0.5em 0.75em 1em;
}

.toolbox-decor {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  width: 1em;
  background-color: var(--dia-ctrl-back-color);
}

.planning-menu-item-container > .toolbox-decor {
  left: 0;
}

.stats-menu-item-container > .toolbox-decor {
  right: 0;
}

.planning-menu-item-container:last-child > .toolbox-decor {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.stats-menu-item-container:last-child > .toolbox-decor {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.planning-menu-item-container > .toolbox-toggler,
.stats-menu-item-container > .toolbox-toggler {
  position: relative;
  z-index: 1;
}

.tool-description-container {
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: var(--dia-ctrl-back-color);
  /* color: var(--dialog-fore-color); */
  /* border: 1px solid var(--dialog-fore-color); */
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  box-sizing: border-box;
  max-height: calc(100% - 2em);
  overflow: hidden auto;
}

/* Custom V. Scrollbar for the Desc. Cont. */
.tool-description-container::-webkit-scrollbar {
  width: 9px;
}
.tool-description-container::-webkit-scrollbar-track {
  background: var(--scroll-back-color);
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
}
.tool-description-container::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
}

.tool-descriptor {
  padding: 0.2em;
  margin-top: 0.5em;
  border: 1px dashed red;
  /* ??? */
  box-sizing: content-box;
  min-width: 100px;
  height: 10em;
}

.neutral-emphasized {
  color: var(--stat-neutral-emph-color);
}

.positive-emphasized {
  color: var(--stat-positive-emph-color);
}
