


/* * * * * * * * * * * * * * * * * *
* Genreric Active Control Tamplates *
* * * * * * * * * * * * * * * * * */


/*/  Button Style Outside Dialog  /*/
/*/////////////////////////////////*/
button {
  background-color: var(--default-back-color);
  color: var(--default-fore-color);
  padding: 0.2em;
  border: none;
  border-radius: 5px;
  user-select: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
}

button:focus {
  outline: var(--default-foc-b-color) solid 1px;
}

button:hover {
  outline: var(--default-hover-color) solid 2px;
  color: var(--default-hover-color);
}

button:active {
  outline: var(--default-active-color) solid 3px;
  color: var(--default-active-color);
}

button[disabled],
button:disabled {
  color: var(--default-dis-f-color);
  outline: none;
}


/*/  Dialog Boxes  /*/
/*//////////////////*/
dialog {
  padding: 1em 1.75em;
  background-color: var(--dialog-back-color);
  color: var(--dialog-fore-color);
  border: 2px solid var(--dialog-fore-color);
  border-radius: 10px;
}


/*/  Dialog Headers  /*/
/*////////////////////*/
dialog > form > h2 {
  margin: 0;
  min-width: max-content;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
  color: var(--dialog-head-color);
}


/*/  Button Style Changes In Dialogs  /*/
/*/////////////////////////////////////*/
dialog button {
  background-color: var(--dia-ctrl-back-color);
  color: inherit;
}

dialog button[disabled],
dialog button:disabled {
  color: var(--dia-ctrl-dis-f-color);
}


/*/  Label Style In Dialogs  /*/
/*////////////////////////////*/
.radio-container {
  position: relative;
}

.radio-container + .radio-container {
  margin-top: 1em;
}

dialog label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.25em;
  user-select: none;
}

dialog label.input-text {
  display: inline-block;
  margin-bottom: 0.15em;
}

dialog label.input-radio {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  background-color: var(--dia-ctrl-back-color);
  color: inherit;
  padding: 0.2em;
  border: none;
  border-radius: 5px;
}

dialog input[name="slot"] {
  display: inline-block;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

dialog input[name="slot"]:focus + label {
  outline: var(--default-foc-b-color) solid 1px;
}

dialog input[name="slot"]:hover + label {
  outline: var(--default-hover-color) solid 2px;
  color: var(--default-hover-color);
}

dialog input[name="slot"]:active + label {
  outline: var(--default-active-color) solid 3px;
  color: var(--default-active-color);
}

dialog input[name="slot"]:checked + label {
  background-color: var(--dia-ctrl-chck-bg-color);
  color: var(--default-checked-color);
}

dialog input[name="slot"]:disabled + label {
  color: var(--dia-ctrl-dis-f-color);
  outline: none;
  letter-spacing: 0.5em;
}


/*/  Text Input Style In Dialogs  /*/
/*/////////////////////////////////*/
dialog input[type="text"] {
  outline: none;
  border: none;
  box-sizing: border-box;
  background-color: var(--dia-ctrl-back-color);
  color: inherit;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
  padding: 0.2em;
}

dialog input[type="text"]:focus {
  outline: var(--dialog-fore-color) solid 1px;
}


/**  Make a DIV's contents (here: Label & TextInput pairs) centered.  **/
.content-centering {
  text-align: center;
}

.content-centering input[type="text"] {
  text-align: inherit;
}


/**  Make a nice row of the few usual Dialog Buttons, and add margins.  **/
.button-content-row {
  display: flex;
}

.button-content-row > button {
  margin: 0 0.5em;
}
