/* * * * * * * * * * * *
* Initial Basic Styling *
 * * * * * * * * * * * */
body {
  margin: 0;
  background-color: #222;
  color: #CCC;
}

img {
  margin-bottom: -4px;
}

button {
  background-color: #222;
  color: #CCC;
  
  box-sizing: content-box;
  position: relative;

  top: calc(-0.2em);
  left: calc(-0.2em);
  padding: 0.2em;

  border: none;
  border-radius: 5px;
}

button:focus {
  outline: #CCC solid 1px;
}

button:hover {
  outline: #ADA solid 2px;
  color: #ADA;
}

button:active {
  outline: #6E6 solid 3px;
  color: #6E6;
}

button[disabled],
button:disabled {
  color: black;
  outline: none;
}



/* * * * * * * * * * * *
* Game Screen Elements *
* * * * * * * * * * * */
#normal-game-screen {
  height: 100lvh;
}



/* * * * * * * * * * * * *
* Welcome Screen Elements *
 * * * * * * * * * * * * */
#splash-welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10%;
}

#splash-welcome {
  position: relative;
  width: 100%;
}

#splash-welcome > img {
  position: relative;
  z-index: 0;
  width: 100%;
}

#splash-menu {
  position: absolute;
  z-index: 1;
  left: 4%;
  top: 60%;
  width: 22%;
}

#splash-menu > button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  width: 100%;
  margin-bottom: 1em;
}



/* * * * * * * * * * * *
* Crash Screen Elements *
 * * * * * * * * * * * */
#splash-crash {
  width: 100%;
}

#crash-text {
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(0.4em + 1.8vw);
  margin: 0;
  padding: 0.25em;
  background-color: black;
}



/* * * * * * * * *
* Dynamic Styles *
* * * * * * * * */

.not-displayed {
  display: none;
}
