


/* * * * * * * * * * * *
* Special Local Styling *
* * * * * * * * * * * */


/*/  Welcome Menu Buttons  /*/
/*//////////////////////////*/
#welcome-menu > button {
  width: 100%;
  margin-bottom: 1em;
}


/*/  Dialog Box Elements  /*/
/*/////////////////////////*/
#new-city-dialog form,
#load-city-dialog form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.full-width-input {
  width: 100%;
}



/* * * * * * * * *
* Dynamic Styles *
* * * * * * * * */
.not-displayed {
  display: none;
  visibility: hidden;
}
