


/* * * * * * * * * *
* Custom properties *
* * * * * * * * * */


:root {
  --crash-screen-bg-color: black;

  --default-back-color: #222;
  --default-fore-color: #CCC;
  --default-dis-f-color: #210;
  
  --default-foc-b-color: #CCC;
  --default-hover-color: #A86;
  --default-active-color: #CA8;
  --default-checked-color: #FDB;
  --speed-checked-color: #FED;
  /*--tool-toggled-color: #FFF;*/

  --dialog-back-color: #222;
  --dialog-fore-color: #AAA;
  --dialog-head-color: #DDD;

  --dia-ctrl-back-color: black;
  --dia-ctrl-chck-bg-color: #210;
  --speed-chck-bg-color: #420;
  --tool-tgld-bg-color: #630;
  --dia-ctrl-dis-f-color: #420;

  --scroll-back-color: #210;
  --scroll-thumb-color: #420;

  --credits-gold: #EC0;
  --credits-red: #E44;
  --graph-back-color: #444;
  --stat-neutral-emph-color: #BBE;
  --stat-positive-emph-color: #ADA;
}
