


/* * * * * * * * * * * * *
* Static Page Structures *
* * * * * * * * * * * * */


/*/  Basic Element Styling  /*/
/*///////////////////////////*/
body {
  margin: 0;
  background-color: var(--default-back-color);
  color: var(--default-fore-color);
}

#normal-game-screen {
  position: relative;
  height: 100lvh;
  overflow: hidden;
}

img {
  display: block;
}

svg {
  display: block;
  width: 1em;
  height: 1em;
}

span > svg {
  display: inline;
  width: 0.8em;
  height: 0.8em;
}


/*/  Welcome Screen Elements  /*/
/*/////////////////////////////*/
#welcome-splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  padding: 0 10%;
}

#welcome-splash {
  position: relative;
  width: 100%;
}

#welcome-splash > img {
  position: relative;
  z-index: 0;
  width: 100%;
}

#welcome-menu {
  position: absolute;
  z-index: 1;
  left: 4%;
  top: 60%;
  width: 22%;
}


/*/  Game Area - City View  /*/
/*///////////////////////////*/
#gamearea-cityview {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

#cityview-ui-topcontainer {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#cityview-topcontrols {
  display: flex;
  align-items: flex-start;
  margin: 1em 2em 0 2em;
}

#cityview-topcontrols > * {
  flex: 1;
}

#speed-controls {
  display: flex;
  gap: 0.5em;
}

#cityview-ui-tool-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  min-height: 0;  /* For the "No-Overflow Min-Height Trick", height must be set too! */
}

#cityview-ui-planning-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  box-sizing: border-box;
  height: 100%;
  padding: 1em 2em;
  min-width: 0;
  /* max-width: 30%; */
}

#cityview-ui-stats-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 1em 2em;
  min-width: 0;
  /* max-width: 30%; */
}

#cityview-cityplanning {
  display: flex;
  align-items: flex-start;
  gap: 1.5em;
}

#cityview-citystats {
  display: flex;
  align-items: flex-end;
  gap: 1.5em;
}

#cityplanning-container {
  display: flex;
  align-items: flex-end;
  height: calc(100% - 5em);
  max-height: calc(100% - 5em);
  /* min-height: 0; */
}

/*
  Flex Bug #14:
  [ https://stackoverflow.com/questions/33891709/when-flexbox-items-wrap-in-column-mode-container-does-not-grow-its-width ]
  [ https://github.com/philipwalton/flexbugs#flexbug-14 ]
*/
#cityview-cityplanning-menu {
  display: flex;
  /* writing-mode: vertical-lr; */
  /* text-orientation: upright; */
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100%;
  max-height: 100%;
  min-width: 0;
  padding-left: 1.5em;
}

/* Flex Bug #14 more fix: */
/* #cityview-cityplanning-menu * {
  writing-mode: horizontal-tb;
} */

#citystats-container{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  height: calc(100% - 5em);
  max-height: calc(100% - 5em);
  /* min-height: 0; */
}

#cityview-citystats-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
  height: 100%;
  max-height: 100%;
  min-width: 0;
  padding-right: 1.5em;
}


/*/  Crash Screen Elements  /*/
/*///////////////////////////*/
.crash-splash {
  width: 100%;
}

.crash-text {
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(0.4em + 1.8vw);
  margin: 0;
  padding: 0.25em;
  background-color: var(--crash-screen-bg-color);
}

