


/* * * * * * * * * * * * *
* Static Page Structures *
* * * * * * * * * * * * */


/*/  Basic Element Styling  /*/
/*///////////////////////////*/
body {
  margin: 0;
  background-color: var(--default-back-color);
  color: var(--default-fore-color);
}

#normal-game-screen {
  position: relative;
  height: 100lvh;
  overflow: hidden;
}

img {
  margin-bottom: -4px;
}

svg {
  display: block;
  width: 1em;
  height: 1em;
}


/*/  Welcome Screen Elements  /*/
/*/////////////////////////////*/
#welcome-splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  padding: 0 10%;
}

#welcome-splash {
  position: relative;
  width: 100%;
}

#welcome-splash > img {
  position: relative;
  z-index: 0;
  width: 100%;
}

#welcome-menu {
  position: absolute;
  z-index: 1;
  left: 4%;
  top: 60%;
  width: 22%;
}


/*/  Game Area - City View  /*/
/*///////////////////////////*/
#gamearea-cityview {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

#cityview-topcontrols {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 1em 2em 0 2em;
}

#cityview-topcontrols > * {
  flex: 1;
}

#speed-controls {
  display: inline-flex;
  gap: 0.5em;
}


/*/  Crash Screen Elements  /*/
/*///////////////////////////*/
.crash-splash {
  width: 100%;
}

.crash-text {
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(0.4em + 1.8vw);
  margin: 0;
  padding: 0.25em;
  background-color: var(--crash-screen-bg-color);
}

